.container {
    max-width: 1500px;
}

.subheading {
    font-size: 18px;
    padding-left: 10px;
    margin: 10px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.small-container {
    background-color: var(--white);
}

.row-2 {
    justify-content: space-between;
    margin: 0 100px;

}

.row-2 h2 {
    color: darkslategray;
}

select {
    border: 1px solid black;
    border-style: solid;
    padding: 7px;
    cursor: pointer;
}

select:focus {
    outline: none;
}


.big-container {
    justify-content: space-around;
    align-items: center;
}

.col4 {
    flex-basis: 25%;
    padding: 3px;
    min-width: 300px;
    margin: 7px;
    align-items: center;
    transition: 0.4s;
}

.col4 img {
    width: 330px;
    height: 293px;
    margin-top: 20px;
    margin: right 65px;
    ;
}

.col4:hover {
    transform: translateY(-19px);
}

.col4 p {
    text-align: left;
    color: rgba(55, 161, 165, 0.795);
    cursor: pointer;
    width: 90px;
    padding: 0px;
}

.col4 p:hover {
    color: orange;
}