/* 

This file defines properties for classes used in Navigation Bar and Home Page.

Only classes are allowed to be defined in the file.

Made by MengZe

*/

/* Navigation Bar container */
.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    padding: 0;
    margin: 0;
    z-index: 20;
    /* background-color: rgb(226, 226, 226); */
    background-color: var(--yellow);
    text-align: center;
}

/* Navigation Bar */
.navbar-nav {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex: auto;
    flex-wrap: wrap;
    /* justify-content: flex-start; */
    align-items: center;
    margin: -3px 0px; /* grid trick, has to match box margin */
}

/* Navigation Item */
.navbar-item {
    padding: 10px;
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
}

.navbar-subitem {
    padding: 10px;
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
}

.navbar-link {
    color: var(--link);
}

.navbar-link:hover {
    color: var(--dark);
    text-decoration: underline;
}

/* When an item is being selected a special property should be applied */
.focused {
    font-weight: bold;
}

/* a simple search box (idea from Google home page) */
.search-box {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 45vw;
    height: 22px;
    /* border:solid 1px #ccc; */
    border-radius: 50px;
    padding: 10px;
}

/* simple animation when the search hover is hoved by cursor */
.search-box:hover {
    box-shadow: 1px 1px 4px #888888;
}

/* input field for search box */
.search {
    width: 45vw;
    height: 22px;
    padding-left: 8px;
    font-size: 16px;
    border: 1px solid orange;
}

.search-logo {
    width: 25px;
    padding-left: 15px;
    padding-right: 5px;
}

/* styles for icons (such as home.svg and cart.svg) */
.icon {
    width: 25px;
    padding-left: 15px;
    padding-right: 5px;
}
